@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    margin: 0;
    font-family: 'Roboto', sans-serif,-apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #2F281E;
    background-color: #FFFEFE;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    background: url('../img/tabletVerde1.svg') !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 100vh !important;

  }
  .btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 0px solid transparent;
    padding: 0.475rem 2.75rem;
    font-size: 1.5rem;
    border-radius: 0.55rem;
    box-shadow: 0 5px 5px #888888;
    transition: color .15s ease-in-out,background-color 0s ease-in-out,border-color 0s ease-in-out,box-shadow 0s ease-in-out;
    transition-duration: 0s, 0s, 0s, 0s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, 0s, 0s;
    transition-property: color, background-color, border-color, box-shadow none;
}
.border-top {
    border-top: 0px solid #dee2e6!important;
}

.btn-warning {
    color: #FFFEFE;
    background-color: #3EADA6;
    border-color: #3EADA6;
}
.btn-warning:hover {
    color: #FFFEFE;
    background-color: #EC6261;
    border-color: #EC6261;
}

.btn-check:focus + .btn-warning, .btn-warning:focus {
    color: #FFFEFE;
    background-color: #EC6261;
    border-color: #EC6261;
    -webkit-box-shadow: 0 0 0 0 #EC6261;
    box-shadow: 0 0 0 0 #EC6261;
  }
  
  .btn-check:checked + .btn-warning,
  .btn-check:active + .btn-warning, .btn-warning:active, .btn-warning.active,
  .show > .btn-warning.dropdown-toggle {
    color: #FFFEFE;
    background-color: #EC6261;
    border-color: #EC6261;
  }
  
.navbar-expand-lg .navbar-nav .nav-link {
  color: #3EADA6 !important;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
  /*BARRAS CON MOVIMENTO BAJO LOS TEXTOS DEL MENÚ*/
  .navbar-expand-lg .navbar-nav .nav-link {
    color: #3EADA6 !important;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #EC6261;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  ul li:hover::after{
    width: 60%;
  }
/*------------------barra logo y menú se mustra siemppre-------------- */
.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  background-color: white;
  top: 0;
}


.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}


#app{
    width: 300px;
    height: 200px;
    border: 1px solid red;
    margin-bottom: 5%;
    margin-top: 5%;
}
#inner_container{
  display: flex;
  flex-direction: column;
 align-items: center;
}
#temporal{
  width: 640px;
  height: 450px;
  border: 1px solid #888888;
  margin-top: 2%;
  /* opacity: 0.5; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* background: url('../img/plane.jpg');
  opacity: 0.5;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; */
}
@media (max-width: 450px) {
    .h-custom {
    height: 100%;
    }
    }
    
    
    /*-----------------------------------------------------------MOVILE------------------------------------------------------------*/
@media only screen and (max-width: 600px) {
  body{
    background: url('../img/verde_movil34.svg') !important;
    overflow-y: hidden;
    overflow-x: hidden;
    background-repeat: no-repeat !important;
    background-position: center;
    background-position-y: bottom !important;
   
  }
  #inner_container p{
    margin-left: 3.5%;
    margin-right: 1.4%;
    
    text-align: start;
  }
   .container img{
          height: 40px;
   }
  section{
          margin-left: 5%;
          margin-right: 5%;
  }
  /*----------------------------------------menú.-------------------*/
        .form-control {
          display: block;
  }
  #temporal{
  width: 320px;
  height: 350px;
  }
  #temporal img{
    width: 300px;
    height: 300px;
  }
  canvas.drawing, canvas.drawingBuffer{
    width: 300px !important;
    height: 300px !important;
    left: 2% !important;
  
  }
  video{
    width: 306px;
    height: 306px;
  }
  #startScanning{
    margin-bottom: 0%;
    border-top:solid 0.1px #c7c6c6;
  }
}
